@model Hospital.Models.Patients

@{
    ViewData["Title"] = "Edit";
}

<link href="~/css/patient.css" rel="stylesheet" />

<body1>
    <div class="container">
        <header>Patient Summary  Details</header>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form first">
                <div class="details Protein">
                    <div class="fields">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-field">
                            <label asp-for="PatientId">Patient ID</label>
                            <input asp-for="PatientId" type="number" placeholder="Patient ID" />
                        </div>
                        <span asp-validation-for="PatientId" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" type="text" placeholder="Enter Name" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Age">Age</label>
                            <input asp-for="Age" type="text" placeholder="Enter Age" />
                        </div>
                        <span asp-validation-for="Age" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="ClinicId">Clinic ID</label>
                            <input asp-for="ClinicId" type="number" placeholder="Enter Clinic ID" />
                        </div>
                        <span asp-validation-for="ClinicId" class="text-danger"></span>
                        <div class="input-field">
                            <label asp-for="Created_Date">Created Date</label>
                            <input asp-for="Created_Date" type="date" placeholder="Created Date" />
                        </div>
                        <span asp-validation-for="Created_Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Save" class="btn btn-primary" /> |
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</body1>

@* <h1>Edit</h1>

<h4>Patients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class="form-control" />
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_Date" class="control-label"></label>
                <input asp-for="Created_Date" class="form-control" />
                <span asp-validation-for="Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
